.rooms__filter__container{
  min-width: 200px;
  margin-top: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 1rem;
}

.rooms__filter__container > div,
.filters__price {
  width: 200px;
}

.rooms__filter-header{
  width: 100%;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 5px;
}

.form__label {
  padding-top: 1rem;
  width: fit-content;
}

.filters__link {
  text-decoration: none;
  color: black;
}

.rooms__date__filter input {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #bbbbbb;;
  background-color: transparent;
  width:80%;
  
}

.rooms__date__filter label{
  font-weight: 200;
  margin-bottom: 1.5rem;
}

.rooms__filter__error{
  color:#bbbbbb ;
  font-weight: 100;
  font-size: smaller;
}