.left__panel-map {
  max-width: 90%;
}

.map__circle {
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-image: radial-gradient(circle, #90caf9, white);
  color: black;
  cursor: pointer;
}

.map__circle:hover {
  background-image: radial-gradient(circle, white, #90caf9);
}

.circle-0 {
  top: 60%;
  left: 63%;
}

.circle-1 {
  top: 53%;
  left: 60%;
}

.circle-2 {
  top: 50%;
  left: 20%;
}

.circle-3 {
  top: 68%;
  left: 23%;
}

.circle-4 {
  top: 75%;
  left: 62%;
}

.circle-5 {
  top: 76%;
  left: 49%;
}

.circle-6 {
  top: 50%;
  left: 66%;
}

.map__circle-wave {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
