.signup__form__box{
    width: 450px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px #e6e6e6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1.signup__form__header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 400;
    color: #98b7da;
    border-bottom: 3px solid #98b7da;
    padding-bottom: 2%;
    margin-bottom: 0%;
  }



.signup__form__input-field {
    
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #bac1ca;
    color: #98b7da;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .signup__form__input-field::placeholder {
    color: #98b7da
  }

  .signup__form__input-field:focus {
    border: 3px solid #98b7da;
    outline: none; 
  }
  
  
  button.signup__form__button {
    margin: 2%;
    background-color: #98b7da;
    border: none;
    color: #fff;
    padding: 0.5rem 4rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  button.signup__form__button:hover {
    background-color: #bac1ca;
  }
  
  h1.signup__form__login {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 200;
    color: #bac1ca;;
    padding-top: 20px;
    padding-bottom: 1%;
    margin-bottom: 2%;
    cursor:pointer;
  }

  h1.signup__form__login:hover {
    color: #98b7da;
  }