.home__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.right__panel {
  width: 50%;
}

.left__panel {
  width: 50%;
  position: relative;
}
