
  .home-container {
    margin-top: 40px;
    display: flex;
    padding-right: 10px;
  }
  
  .left-panel {
    width: 40%;
  }
  
  .right-panel {
    width: 60%;
  }

  .rightText{
    margin-bottom: 8px; 
    font-size: 20px;
    font-weight: 200;
    color: #98B7DA;

  }


.grid-item {
    margin-bottom: 8px; /* Set the margin bottom to the desired value */
    background-color:#98B7DA ;
    text-align: center;
    font-size: 1.4em;
    padding: 1em 2em;
    color: white;
    font-size: 20px;
    font-weight: 200;
  }



  
  