.navbar {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 0 10px #e6e6e6;
  width: 100%;
  height: 65px;
  top: 0;
}

.navbar__logo {
  font-size: 40px;
  margin-right: 4px;
  color: #98b7da;
}

.navbar__title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 8px;
  color: #98b7da;
  text-decoration: none;
}

.navbar__leftSide {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.navbar__rightSide {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  background-color: white;
  margin: 0;
  width: fit-content;
}

.navbar__link {
  margin: 0 30px;
  font-size: 25px;
  font-weight: 200;
  color: #98b7da;
  text-decoration: none;
}

.navbar__chaines-link {
  cursor: pointer;
}

.navbar__dropdown {
  position: absolute;
  margin: -40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: auto;
  list-style: none;
  z-index: 1;
  padding: 0;
  margin-top: 20px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 4px #e6e6e6;
}

.navbar__dropdownItem {
  padding: 0 5px;
  font-size: 25px;
  font-weight: 200;
  color: #98b7da;
  text-decoration: none;
}

.navbar__dropdown.inactive {
  display: none;
}

.navbar__link:hover,
.navbar__dropdownItem:hover {
  color: rgb(194, 0, 47);
  border-color: #c2002f;
}
