*{
    text-align: center;
}
.connexion_box2{
    margin-top: 100px;
    
}
.form-group{
    margin-bottom: 10px;
    
}
label{
    
    margin-right: 20px;
}

.btn {
    background-color: rgb(194,0,47);/* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(222, 213, 215);
    color: black;
  
  }
