.reservation__container {
    width: 90%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: row;
}

.reservation__container-left, .reservation__container-right {
    width: 50%;
}